{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Oklahoma Landmarks Inventory{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>To search fill in the fields and hit submit:</h1>
</div>
{{ wtf.quick_form(form) }}
    <table>
     <thead>
        <tr>
           <th>Property Name</th>
           <th>Resource Name</th>
           <th>Address</th>
           <th>City</th>
        </tr>
     </thead>
    
     <tbody>
        {% for post in posts %}
           <tr>
              <td>{{ post.propname }}</td>
              <td>{{ post.resname }}</td>
              <td>{{ post.address }}</td>
              <td>{{ post.city }}</td>
           </tr>
        {% endfor %}
     </tbody>
    </table>
<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-propname">{{ post.propname }}</div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

