{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}OLI Record{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>OLI Record</h1>
</div>
<div>       
            <img src="{{ url_for('display_image') }}">
            <div class="post-post_id"><b>Object ID: </b>{{ post.objectid }}</div>
            <div class="post-propname"><b>Property Name: </b>{{ post.propname }}</div>
            <div class="post-resname"><b>Resource Name:  </b>{{ post.resname }}</div>
            <div class="post-address"><b>Address: </b>{{ post.address }}</div>
            <div class="post-city"><b>City: </b>{{ post.city }}</div>
            <div class="post-vicinity"><b>Vicinity: </b>{{ post.vicinity }}</div>
            <div class="post-countycd"><b>County Code: </b>{{ post.countycd }}</div>
            <div class="post-lot"><b>Lot: </b>{{ post.lot }}</div>
            <div class="post-block"><b>Block: </b>{{ post.block }}</div>
            <div class="post-platename"><b>Platename: </b>{{ post.platename }}</div>
            <div class="post-section"><b>Section: </b>{{ post.section }}</div>
            <div class="post-township"><b>Township: </b>{{ post.township }}</div>
            <div class="post-range"><b>Range: </b>{{ post.range }}</div>
            <div class="post-restype"><b>Restype: </b>{{ post.restype }}</div>
            <div class="post-hist_func"><Historic Function: </b>{{ post.hist_func }}</div>
            <div class="post-curr_func"><b>Current Function: </b>{{ post.curr_func }}</div>
            <div class="post-areasg_1"><b>Area of Significance: </b>{{ post.areasg_1 }}</div>
            <div class="post-areasg_2"><b>Area of Significance 2: </b>{{ post.areasg_2 }}</div>
            <div class="post-desc_seg"><b>Desc_Seg: </b>{{ post.desc_seg }}</div>
            <div class="post-doc_source"><b>Document Source: </b>{{ post.doc_source }}</div>
            <div class="post-name_prep"><b>Name prepred: </b>{{ post.name_prep }}</div>
            <div class="post-survey_pro"><b>Survey provider: </b>{{ post.survey_pro }}</div>
            <div class="post-projectname"><b>Project Name: </b>{{ post.projectname }}</div>
            <div class="post-date_prep"><b>Date Prepared: </b>{{ post.date_prep }}</div>
            <div class="post-photograph"><b>Photograph: </b>{{ post.photograph }}</div>
            <div class="post-year"><b>Year: </b>{{ post.year }}</div>
            <div class="post-orig_site"><b>Original Site: </b>{{ post.orig_site }}</div>
            <div class="post-datemoved"><b>Date moved: </b>{{ post.datemoved }}</div>
            <div class="post-fromwhere"><b>From Where: </b>{{ post.fromwhere }}</div>
            <div class="post-accessible"><b>Accessible: </b>{{ post.accessible }}</div>
            <div class="post-arch_style"><b>Arch Style: </b>{{ post.arch_style }}</div>
            <div class="post-other_arch"><b>Other Arch: </b>{{ post.other_arch }}</div>
            <div class="post-foun_mat"><b>Foundation material: </b>{{ post.foun_mat }}</div>
            <div class="post-roof_type"><b>Roof Type: </b>{{ post.roof_type }}</div>
            <div class="post-roof_mat"><b>Roof Material: </b>{{ post.roof_mat }}</div>
            <div class="post-wall_mat_1"><b>Wall Material 1: </b>{{ post.wall_mat_1 }}</div>
            <div class="post-wall_mat_2"><b>Wall Material 2: </b>{{ post.wall_mat_2 }}</div>
            <div class="post-window_typ"><b>Window type: </b>{{ post.window_typ }}</div>
            <div class="post-window_mat"><b>Window Material: </b>{{ post.window_mat }}</div>
            <div class="post-door_typ"><b>Door Type: </b>{{ post.door_typ }}</div>
            <div class="post-exter_fea"><b>Exterinal Features:</b>{{ post.extre_fea }}</div>
            <div class="post-inter_fea"><b>Interal Features: </b>{{ post.inter_fea }}</div>
            <div class="post-dec_detail"><b>Dec_detail: </b>{{ post.dec_detail }}</div>
            <div class="post-des_res"><b>Des_rec: </b>{{ post.des_res }}</div>
            <div class="post-comments"><b>Comments: </b>{{ post.comments }}</div>
            <div class="post-placement"><b>PLacement: </b>{{ post.placement }}</div>
            <div class="post-lonr"><b>Lonr: </b>{{ post.lonr }}</div>
            <div class="post-continuation"><b>Continuation: </b>{{ post.continuation }}</div>
            <div class="post-nrdata"><b>National Registar: </b>{{ post.nrdata }}</div>
            <div class="post-date_updated"><b>Date Updated: </b>{{ post.date_updated }}</div>
            <div class="post-lat"><b>Latituide: </b>{{ post.lat }}</div>
            <div class="post-long"><b>Longiutide: </b>{{ post.long }}</div>
            <div class="post-utm_zone"><b>UTM Zone: </b>{{ post.utm_zone }}</div>
            <div class="post-easting"><b>Easting: </b>{{ post.easting }}</div>
            <div class="post-northing"><b>Northing: </b>{{ post.northing }}</div>
            <div class="post-p_b_c"><b>Property Bridge Cemetary: </b>{{ post.p_b_c }}</div>
            <div class="year_closed"><b>Year Closed: </b>{{ post.year_closed }}</div>
</div>
{% endblock %}

